body{
    background-color: rgba(119, 147, 60);
}

.wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);
    height: 600px;
    width: 500px;
    text-align: center;
}

.box{
    background-color: white;
    border: 1px solid black;
}

.title{
    grid-column: 1/13;
    grid-row: 4/5;
}

.start{
    color: black;
    grid-column: 2/12;
    grid-row: 6/7;
    height: 40px;
    width: 400px;
}



img{
    width: 150px;
    height: 150px;
    grid-column: 20/21;
    grid-row: 20/21;
}

.start a{
    color: black;
    height: 40px;
    width: 400px;
}

.start a:link {
    color: black;
    text-decoration: none;
    height: 40px;
    width: 400px;
    
    
}

.start a:visited {
    color: black;
    text-decoration: none;
    height: 40px;
    width: 400px;
 
}

.flag1{
    background-color: blue;
    width: 200px;
    height: 40px;
    grid-row: 10/11;
}

.flag2{
    background-color: white;
    width: 200px;
    height: 40px;
    grid-row: 11/12;
}

.flag3{
    background-color: red;
    width: 200px;
    height: 40px;   
    grid-row: 12/13
}